table { 
	width: 50%;
	text-align: center;
	border-collapse: collapse;
}
table, td {
	border: 2px solid;
	padding: 6px;
}
tr:hover {background-color: coral;}
h1{
	color: brown;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 40px;
}
p{
	color: red;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
	font-size: 20px;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
